body{
    font-family: 'Inter', sans-serif;
    background-color: rgb(243, 245, 252);
}

header{
   background-color: rgb(243, 245, 252);
    padding: 40px 0;
}

.logo{
    height: 40px;
}

/*---------------------Body-Main---------------------*/

main{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 750px;
    margin-left: 2rem;
}

.input-padron{
    display: block;
    padding: 20px 20px;
    width: 50%;
    background-color: rgb(243, 245, 252);
    border: 0;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    height: 70%;
    margin-bottom: 50px;
}

.input-padron::placeholder{
    color: #0A3871;
}

.advertencia{
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: bold;
    color: #495057;
}

.advertencia::before{
    content: "ⓘ ";
}
.encriptar{
    width: 328px;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #0A3871;
    border: none;
    border-radius: 24px;
    transition: 1s all;
    cursor: pointer;
    /*vertical-align: bottom;*/
    margin-right: 12px;
}

.desencriptar{
    width: 328px;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: #0A3871;
    background-color: #D8DFE8;
    border: none;
    border-radius: 24px;
    transition: 1s all;
    cursor: pointer;
    /*vertical-align: bottom;*/
    margin-left: 12px;
}

.encriptar:hover{
    color: white;
    transform: scale(1.1);
}

.desencriptar:hover{
    color: #0A3871;
    transform: scale(1.1);
}

.caja{
    display: flex;
    background-color: white;
    height: 750px;
    width: 400px;
    vertical-align: top;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin-right: 2rem;
    justify-content: center;
    text-align: center;
    flex-direction: column
}

.esconder{
    text-align: center;
}

.muneco{
    display: inline-block;
    margin-top: 25%;
    margin-bottom: 20px;
}

.ocultar{
    display: none;
}

.contenedor-resultado{
    overflow-wrap: break-word;
}

.output{
    display: block;
    padding: 30px 30px;
    border: 0;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    height: 70%;
    margin-bottom: 50px

}

.copiarB{
    width: 328px;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: #0A3871;
    background-color: #D8DFE8;
    border: none;
    border-radius: 24px;
    transition: 1s all;
    cursor: pointer;
    margin: 0 auto;
    display: none;
}
h2{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #343A40;
    margin-bottom: 20px;
}

h3{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #495057;
}

/*-----------------------Footer-----------------------*/

footer{
    text-align: center;
    margin-top: 50px;
    background-color: #0A3871;
    padding: 30px;
}

.textoFooter{
    font-weight: 400;
    font-size: 18px;
    color: white;
}

strong{
    font-weight: bold;
}

a{
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none; 
}


/*Configuracion para deispositivos moviles PENDIENTE*/

@media screen and (max-width:1170px) {
    main{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form{
        display: flex;
        max-width: 80%;
        align-items: center;
        margin-left: 0;
    }
}

@media screen and (max-width:870px) {
    .form{
        display: flex;
        max-width: 80%;
        align-items: center;
        margin-left: 0;
    }

    .btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .encriptar{
        margin: .5rem;
    }

    .desencriptar{
        margin: .5rem;
    }

    .caja{
        margin: 1rem;
    }
}
